.btn {
    @include scale(padding, 10 50, 16);
    border-radius: 1000px;
    border: 3px solid #fff;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: $header-font-family;
    cursor: pointer;
    display: inline-block;
    padding: 1em 0 0.833em;
    width: 13.500em;
    margin: 0 auto;
    min-height: 2.889em;
    line-height: 1.111em;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}
