@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";


@import "utils";
@import "bower_components/normalize-scss/normalize";
@import "variables";
@import "typography";
@import "buttons";

$visual-grid: true;
$visual-grid-color: #e6f6ff;
$visual-grid-opacity: 0.4;

.panel-1 {
    background-image: url(/images/bg_header.jpg);
    background-size: cover;
    > div {
        @include outer-container;
        div {
            padding-top: em(20);
            padding-bottom: em(30);
            @include media($tablet) {
                padding: em(20) 0 em(90) 0;
            }
            i.btn-menu {
                color: $hot-pink;
                background: #fff;
                border-radius: 1000px;
                padding: em(10);
                font-size: em(20);
                margin-left: em(15);
                margin-bottom: em(20);
            }
            img {
                width: 100%;
                height: auto;
                margin-bottom: em(20);
                padding: 0 em(25) 0 em(25);
                @include media($tablet) {
                    width: auto;
                    margin: 0 auto 2.500em auto;
                    display: block;
                }
            };

            a.btn {
                background: #fff;
                color: $hot-pink;
                text-align: center;
                display: block;
                font-family: $header-font-family;
            }
        }
    }
}
.panel-2 {
    padding-top: em(20);
    > div {
        @include outer-container;
        h2 {
            color: $hot-pink;
        }
        ul {
            @include media($tablet) {
                @include span-columns(9);
                padding: em(60);
            }
            padding: 0 em(15);
            list-style: none;
            text-align: center;
            li {
                @include media($tablet) {
                    @include span-columns(3 of 9);
                    padding: 0 em(5);
                }
                margin-bottom: em(25);
            }
        }
    }
}
.panel-3 {
    background-image: url(/images/bg_new_haven.jpg);
    background-size: cover;
    @include media($tablet) {
        height: 593px;
    }
    > div {
        @include outer-container;
        padding: em(45) em(15);
        @include media($tablet) {
            padding-top: em(230)
        }
        h2 {
            font-weight: normal;
            color: #fff;
            font-size: em(40);
            margin-bottom: em(5);
            text-align: center;
            @include media($tablet) {
                @include span-columns(5);
                text-align: left;
            }
        }
        ul {
            list-style: none;
            padding:0;
            margin:0;
            text-align: center;
            @include media($tablet) {
                @include span-columns(4);
                @include omega;
                text-align: left;
            }
            li {
                padding-left: 1em;
                text-indent: -.7em;
                color: #fff;
                margin-bottom: em(10);
            }

            li:before {
                content: "• ";
                color: $hot-pink;
            }
        }
    }
}
.panel-4 {
    background-image: url(/images/bg_signup.jpg);
    background-size: cover;
    padding: em(50) 0;

    @include media($tablet) {
        padding-top: em(100);
        height: em(435);
    }
    > div {

        @include outer-container;

        h2 {
            font-size: em(36);
            font-weight: normal;
            color: #fff;
            text-align:center;
        }
        p {
            color: #fff;
            padding: 0 em(15);
            text-align: center;
            margin-bottom: em(30);
            a {
                color: $dark-blue;
            }
        }
        span {
            @include media($tablet) {
                display: inline;
                margin: 0 em(20);
                padding: em(10) 0;
                border-top: 1px solid $dark-blue;
                border-bottom: 1px solid $dark-blue;
            }
            display: block;
            text-align: center;
            color: $dark-blue;
            text-transform: uppercase;
            font-size: em(16);
            font-family: $header-font-family;
            margin: em(7) 0 em(5) 0;
        }
        a.btn {
            text-align: center;
        }
        .sign-up {
            text-align: center;
        }

    }
}
.panel-5 {
    padding: em(50) 0;
    > div {

        @include outer-container;

        h2 {
            color: $hot-pink;
            font-size: em(36);
            text-align: center;
        }
        ul {
            @include media($tablet) {
                @include span-columns(9);
            }
            @include media($desktop) {
                @include span-columns(12);
            }
            padding: 0;
            list-style: none;
            text-align: center;
            li {
                @include media($tablet) {
                    @include span-columns(3 of 9);
                    //padding: 0 em(5);
                }
                @include media($desktop) {
                    @include span-columns(3 of 12);
                    //padding: 0 em(5);
                }

                .speakers {
                    position: relative;
                    display:block;
                    background-image: url(/images/img_adam_chambers.jpg);
                    background-size: cover;
                    width: 250px;
                    height: 250px;
                    .about {
                        //position: absolute;
                        background: #fff;
                        padding: em(10) 0;
                        width: 230px;
                        z-index: 1;
                        position: relative;
                        top: 170px;
                        left: 10px;
                        text-align: center;

                        .name {
                            @include row();
                            color: $hot-pink;
                            font-family: $header-font-family;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
